# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\WORK-PROJETS\image-to-text-relation\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
